*{box-sizing:border-box}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
@keyframes loader {
  0% {transform:rotate(0deg)}/*
  12.5%{transform: rotate(-45deg)}
  25%{transform: rotate(-90deg)}
  37.5%{transform: rotate(-135deg)}*/
  50%{transform:rotate(-180deg)}/*
  62.5%{transform: rotate(-225deg)}
  75%{transform: rotate(-270deg)}
  87.5%{transform: rotate(-315deg)}*/
  100%{transform:rotate(-360deg)}}
@keyframes span-1 {
  0% {transform:translate(0);border-color: red}
  50%{transform:translate(-50px, 0);border-color: red}
  100%{transform:translate(0); border-color: red}}
@keyframes span-2 {
  0%{transform:translate(0);border-color: green}
  50%{transform:translate(50px, 0);border-color: green}
  100%{transform:translate(0);border-color: green}}
@keyframes span-3 {
  0%{transform:translate(0);border-color: blue}
  50%{transform:translate(0, -50px);border-color: blue}
  100%{transform:translate(0);border-color: blue}}
@keyframes span-4 {
  0%{transform:translate(0);border-color: yellow}
  50%{transform:translate(0, 50px);border-color: yellow}
  100%{transform:translate(0);border-color: yellow}}
.loader {
  width: 20px;
  height: 20px;
  position: relative;
  animation: loader 2s infinite ease-in-out;
}
.loader span {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 0;
  border: 2px solid #0B1B48;
  border-radius: 50%;
}
.loader span:nth-child(1) {
  background: red;
  animation: span-1 1s ease-in infinite;
}
.loader span:nth-child(2) {
  background: green;
  animation: span-2 1s ease-in infinite;
}
.loader span:nth-child(3) {
  background: blue;
  animation: span-3 1s ease-in infinite;
}
.loader span:nth-child(4) {
  background: yellow;
  animation: span-4 1s ease-in infinite;
}          